version: '3.4'
services:
  vpn:
    container_name: vpn
    image: 'dperson/openvpn-client'
    environment:
      - 'OTHER_ARGS= --mute-replay-warnings'
    cap_add:
      - net_admin
      - SYS_MODULE
    restart: unless-stopped
    volumes:
      - '${ROOT}/MediaCenter/config/vpn:/vpn'
      - /lib/modules:/lib/modules
    security_opt:
      - 'label:disable'
    devices:
      - '/dev/net/tun:/dev/net/tun'
    ports:
      - '8080:8080' #qbittorrent web UI Port
      - '6789:6789' #nzbget web UI Port
    command: '-f "" -r 192.168.68.0/24'

  nzbget:
    image: lscr.io/linuxserver/nzbget
    container_name: nzbget
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
    volumes:
      - '${ROOT}/MediaCenter/nzbget/data:/config
      - '${HDDSTORAGE}:/MediaCenterBox'
#    ports:                     #remove if no vpn
#      - 6789:6789              #remove if no vpn
    restart: unless-stopped
    network_mode: 'service:vpn' #comment/remove if you are not using the VPN
    depends_on:                 #comment/remove if you are not using the VPN
      - vpn                     #comment/remove if you are not using the VPN

  
  qbittorrent:
    container_name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent
    restart: unless-stopped
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
#      - TORRENTING_PORT=6881
    volumes:
      - '${ROOT}/MediaCenter/config/qbittorrent:/config'
      - '${HDDSTORAGE}:/MediaCenterBox'
#    ports:
#      - 8080:8080              #remove comment if you are not using the VPN
#      - 6881:6881
#      - 6881:6881/udp
    network_mode: 'service:vpn' #comment/remove if you are not using the VPN
    depends_on:                 #comment/remove if you are not using the VPN
      - vpn                     #comment/remove if you are not using the VPN

  prowlarr:
    image: lscr.io/linuxserver/prowlarr
    container_name: prowlarr
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
    volumes:
      - '${ROOT}/MediaCenter/config/prowlarr:/config'
    restart: unless-stopped
    ports:
      - '9696:9696' #uncomment if you are not using the VPN


  sonarr:
    container_name: sonarr
    image: 'lscr.io/linuxserver/sonarr'
    restart: unless-stopped
    network_mode: host
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '${ROOT}/MediaCenter/config/sonarr:/config'
      - '${HDDSTORAGE}:/MediaCenterBox'

  radarr:
    container_name: radarr
    image: 'lscr.io/linuxserver/radarr'
    restart: unless-stopped
    network_mode: host
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '${ROOT}/MediaCenter/config/radarr:/config'
      - '${HDDSTORAGE}:/MediaCenterBox'

  lidarr:
    image: lscr.io/linuxserver/lidarr
    container_name: lidarr
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
    volumes:
      - ${ROOT}/MediaCenter/config/lidarr:/config'
      - '${HDDSTORAGE}:/MediaCenterBox'
    ports:
      - 8686:8686
    restart: unless-stopped

  bazarr:
    container_name: bazarr
    image: 'lscr.io/linuxserver/bazarr'
    restart: unless-stopped
    #network_mode: host
    environment:
      - 'PUID=${PUID}'
      - 'PGID=${PGID}'
      - 'TZ=${TZ}'
      - UMASK_SET=022
    volumes:
      - '${ROOT}/MediaCenter/config/bazarr:/config'
      - '${HDDSTORAGE}:/MediaCenterBox'
    ports:
      - '6767:6767'

  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr
    init: true
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - 'TZ=${TZ}'
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - '${ROOT}/MediaCenter/config/jellyseerr/config:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped

  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_FILE=${LOG_FILE:-none}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - 'TZ=${TZ}'
    ports:
      - "${PORT:-8191}:8191"
    volumes:
      - '${ROOT}/MediaCenter/config/flaresolver:/config'
    restart: unless-stopped